<div class="container">

  <div class="container" style="position: absolute;">
    <h1>Cocktails</h1>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <br>
  </div>

</div>
