// Specific CSS for your home-page
body {
  color: white;
  background-image: linear-gradient(-225deg,rgba(64,64,64,0.6) 0%, rgba(0,0,0,0.6) 50%),
  asset-url('photo-1509807995916-c332365e2d9e.jpeg');
  background-size: cover;
  background-attachment: fixed;
}
ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}
