// Specific CSS for your home-page
body {
  color: white;
  background-image: linear-gradient(-225deg,rgba(64,64,64,0.5) 0%, rgba(64,64,64,0.5) 50%),
  asset-url('helen-thomas-677279-unsplash');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white !important;
}

ul.nav li.active a {
    color: white !important;
}
