<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to cocktails_path, class: 'navbar-wagon-item navbar-wagon-link' do %>
    <strong>My cocktails</strong>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to new_cocktail_path, class: 'navbar-wagon-item navbar-wagon-link' do %>
    <i class="fas fa-plus"></i>
    <strong>Add cocktail</strong>
    <% end %>
  </div>
</div>
